* {
    margin: 0;
    font-family: monospace;
    font-weight: 800;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #d9d9d9;
    gap: 10px;
    box-shadow: 5px 5px 10px #868181;
}

.screen {
    text-align: end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #868181;
    padding: 10px;
    min-height: 60px;
}

.last-operand {
    color: #d6d4d4;
    margin-bottom: 10px;
    font-size: 16px;
}

.current-operand {
    color: #fff;
    font-size: 30px;
}

.clear-delete {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    height: 100%;
}

.clear-delete button {
    width: 100%;
    height: 100%;
    background-color: #ff9494;
    color: #fff;
    font-size: 18px;
    border: none;
}

.clear-delete button:hover {
    background-color: #fc7e7e;
}

.row-one {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    height: 100%;
}

.row-one button {
    width: 100%;
    height: 100%;
    background-color: #c5c4c4;
    color: #fff;
    border: none;
}

.row-one button:hover {
    background-color: #a8a6a6;
}

.row-two {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    height: 100%;
}

.row-two button {
    width: 100%;
    height: 100%;
    background-color: #c5c4c4;
    color: #fff;
    border: none;
}

.row-two button:hover {
    background-color: #a8a6a6;
}

.row-three {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    height: 100%;
}

.row-three button {
    width: 100%;
    height: 100%;
    background-color: #c5c4c4;
    color: #fff;
    border: none;
}

.row-three button:hover {
    background-color: #a8a6a6;
}

.row-four {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    height: 100%;
}

.row-four button {
    width: 100%;
    height: 100%;
    background-color: #c5c4c4;
    color: #fff;
    border: none;
}

.row-four button:hover {
    background-color: #a8a6a6;
}
